* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #f4f6f8;
  height: 100%;
}

a {
  text-decoration: none;
}

#root {
  height: 100%;
}
.wrapper_Dashboard {
  padding: 32px;
  .makeStyles-root-256 {
    height: auto !important;
  }
}
.MuiAppBar-colorPrimary {
  background-color: #006747!important;
}

